<template:main>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<template:if name="query" test="empty">
		<title>UCAIR</title>
	</template:if>
	<template:if name="query" test="nempty">
		<title>UCAIR - ${query}</title>
	</template:if>

	<link rel="stylesheet" type="text/css" href="/static/main.css" />
	<template:foreach name="css_import">
		<link rel="stylesheet" type="text/css" href="${path}" />
	</template:foreach>

	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/main.js"></script>
	<template:foreach name="javascript_import">
		<script type="text/javascript" src="${path}"></script>
	</template:foreach>
	<script type="text/javascript">
//<![CDATA[
var searchId = "${search_id}";
var pageId = "${search_id}_${start_pos}_${view_id}";

$(document).ready(function() {
	if (searchId) {
		refreshOldPage(searchId, ${timestamp});
		reloadScrollPos(pageId, $("#center_pane"));
	}	
	showHideWidgets();
	$(".search_result_title > a").mousedown(function(){
		$(this).attr('href', $(this).prev().text());	
	}).click(function(){
		if (searchId){
			saveScrollPos(pageId, $("#center_pane"));
		}
		return true;
	});
	prepareRatings();
	<template:foreach name="on_document_ready">
		${content}
	</template:foreach>
});

//]]>
	</script>
</head>

<body>

	<div id="top_pane">

		<form id="search_box" action="/search" method="get">
			<img id="logo" src="/static/logo.png" alt="UCAIR Logo" />
			<input id="query_input" type="text" name="query" value="${query}" size="50" />
			<select name="seng">
				<template:foreach name="internal_search_engine">
					<template:switch name="active">
						<template:case value="active">
							<option selected="selected" value="${internal_search_engine_id}">${internal_search_engine_name}</option>
						</template:case>
						<template:default>
							<option value="${internal_search_engine_id}">${internal_search_engine_name}</option>
						</template:default>
					</template:switch>
				</template:foreach>
			</select>
			<input type="hidden" name="start" value="1" />
			<input type="hidden" name="view" value="${view_id}" />
			<input type="submit" value="Search" />
			<span id="top_user_id">User: ${user_id}</span>
		</form>

		<div id="external_search_engine_menu">
			<template:foreach name="external_search_engine">
				<span class="horizontal_link_item_inactive">
					<a href="/external_search?query=${encoded_query}&amp;seng=${external_search_engine_id}">${external_search_engine_name}</a>
				</span>
			</template:foreach>
		</div>

	</div>

	<div id="center_pane">

		<template:include source="search_menu.htm" />

		<div id="left_pane">
			<template:if name="spell_suggestion_query" test="nempty">
				<div id="spell_suggstion">
					<span id="spell_suggestion_prompt">Did you mean:</span> <a href="/search?query=${spell_suggestion_query}&amp;seng=${search_engine_id}&amp;start=1&amp;view=${view_id}">${spell_suggestion_text}</a>
				</div>
			</template:if>

			${search_view_content}

			<template:if name="show_prev_next_page" test="eq" value="true">
				<div id="prev_next_search_page">
					<template:if name="prev_page_start_pos" test="nempty">
							<a href="/search?sid=${search_id}&amp;start=${prev_page_start_pos}&amp;view=${view_id}">Prev</a>
					</template:if>
					<template:if name="next_page_start_pos" test="nempty">
							<a href="/search?sid=${search_id}&amp;start=${next_page_start_pos}&amp;view=${view_id}">Next</a>
					</template:if>
				</div>
			</template:if>
		</div>

		<div id="right_pane">
			<template:foreach name="in_right_pane">
				${content}	
			</template:foreach>
		</div>
	</div>

	<div id="bottom_pane">
		<template:include source="footer.htm" />
	</div>

</body>
</html>
</template:main>
