<template:main>
<div id="about">
	<p>
	<span><a href="http://sifaka.cs.uiuc.edu/ir/ucair/">UCAIR Homepage</a></span>
	<span><a href="http://code.google.com/p/ucair/">On Google Code</a></span>
	<span id="logos">
		<a href="http://illinois.edu"><img src="/static/uiuc.png" alt="uiuc" /></a>
		<a href="http://cs.illinois.edu"><img src="/static/cs.gif" alt="cs" /></a>
		<a href="http://sifaka.cs.uiuc.edu/ir/"><img src="static/timan.gif" alt="timan" /></a>
	</span>
	</p>
</div>
</template:main>
